<h1>Add A Player To The Roster</h1>

<%= form_for(@player) do |p| %>
  <%= p.label :name %>
  <%= p.text_field :name %>
  <%= p.label :number %>
  <%= p.text_field :number %>
  <%= p.label :average %>
  <%= p.text_field :average %>
  <%= p.submit %>
<% end %>
